{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" id='introduction'>
  <h1>Welcome to Introduction to TravelNow!</h1>
  <p></p>
  <p></p>
  <ul>
    <li><p>You can register, log in, log out of your account</p></li>
    <li><p>You can create new interest groups, or join or leave existing interest groups</p></li>
    <li><p>You can create and delete your own posts under the interest groups you have joined, and post your own experiences and ideas</p></li>
    <li><p>You can view posts made by other people in various interest groups</p></li>
    <li><p>You can check other people's profiles and make new friends</p></li>
  </ul>
  <p>You can click the 'Download From Github' button below to enter shusheng's GitHub homepage to download all the code of this website.</p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/shusheng717?tab=repositories" role="button">Download From Github</a></p>
  <p><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/shusheng-zhou-758229235" role="button">Contact Admin</a></p>
</div>
{% endblock %}
